html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.cf:before,
.cf:after {
    display: table;
    content: ' ';
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    color: #555;
    background-color: #f5f7fa;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
    padding: 10px;
}
figure a {
    display: block;
}
mark {
    padding: 0 5px;
    background-color: #ddd;
}
.btn-danger {
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #ab3326;
    border-radius: 3px;
    color: #fff;
    background-color: #c0392b;
}
.btn-danger:hover {
    background-color: #ab3326;
}
.site-header {
    text-align: center;
    background-color: #196e76;
}
.site-header h1,
.site-header a {
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.site-header h1 {
    font-size: 18px;
    margin: 0;
}
.site-header a {
    font-size: 14px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    background-color: #10474c;
}
.boxed-group {
    width: 90%;
    max-width: 680px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
.boxed-group h3,
.boxed-group h4 {
    font-weight: 400;
    margin: 0;
}
.boxed-group h3 {
    padding: 12px 20px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #434a54;
}
.boxed-group h4 {
    font-size: 18px;
    color: #555;
}
.boxed-group section {
    padding: 30px 20px;
}
.boxed-group section:first-child {
    border-bottom: 1px solid #e6e9ed;
}
.boxed-group section:only-of-type,
.boxed-group section:only-child {
    border-bottom: 0;
}
.boxed-group .boxed-group-inner {
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #e6e9ed;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}
.boxed-group .btn {
    float: right;
    margin-left: 20px;
}